{% extends "network/layout.html" %}

{% block body %}
    <!-- TODO -->
{% endblock %}


<!-- TASKLIST -->
<!-- 
    OK - separar as pastas
    OK - gerar github e branch
    OK - estudar o codigo
    - melhorar o style (todas as paginas, inclusive o posts(começar com posts estáticos e ficcionais.))
        OK - log in/ log out
           -  nav 
           - new post 
           - Posts (include all posts, following, etc)
           - edit post 
           - profile page 

           




















-->