{% extends "network/layout.html" %}

{% block body %}
   <div id="new-post" class="text-center pt-3" style="width: 50%; margin: 2rem auto;">
        <form id="new-post" action="{% url 'createPost' %}" method="post">
            {% csrf_token %}
            <h4 style="color:#626168;">New Post</h4>
            {% if user.is_authenticated %}
            <textarea class="mb-1" name="content" id="content" placeholder="What are you thinking about?"></textarea>
            <button class="btn btn-secondary form-control" type="submit">Add post</button>
            {% else %}
            <textarea class="mb-1" name="content" id="content" placeholder="What are you thinking about?" disabled></textarea>
            <button class="btn btn-secondary form-control" type="submit" disabled>Add post</button>
            <small>You need to log in to add a post.</small>
            {% endif %}
            
            {% if message %}
                <small>{{message}}</small>
            {% endif %}
        </form>
   </div>


   <div id="all-posts">
        <ul id="posts">
            {% for post in Posts %}
             <li class="single-post">
                <h6 style="cursor:pointer;"> <i class="fas fa-user"></i>{{ post.creator }}</h6>
                <small>{{ post.timestamp }}</small>
                <p>{{ post.content }}</p>
                {% if post.like == False %}
                <button class="btn"><i class="fa-regular fa-heart"></i></button>
                {% else %}
                <button class="btn"><i class="fas fa-heart"></i></button><br>
                {% endif %}
                <button type="submit" class="btn btn-secondary mt-2 mb-2">Edit post</button>
                
            </li>
            {% endfor %}

        </ul>
   </div>  
{% endblock %}


<!-- TASKLIST -->
<!-- 
       - OK Create Post 
       - OK if not logged, clicking the "add post" leeds to an alert or an message
       - Edit Post
       - Organize posts in the pages in reverse cronological order
       - Like/unlike
       - Follow/unfollow

-->