{% extends "network/layout.html" %}

{% block body %}

    <div class="container container-login-register">
        <h2 id="login-register-h2" class="text-center mb-5">Login</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input autofocus class="form-control" type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <input class="btn btn-secondary form-control" type="submit" value="Login">
    </form>

    <small>Don't have an account? <a href="{% url 'register' %}">Register here.</a></small>
    </div>

{% endblock %}